:root {
    --darkBlue: #064273;
    --white: #ffffff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

body {
    max-width: 700px;
    margin: auto;
    background-color: var(--darkBlue);
    color: white;
    font-size: 18px;

}

#graphic {
    position: relative;
    width: 100%;
}

#vis {
    border: 0px dashed grey;
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 600px;
    /*box-sizing: border-box;*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.step {
    height: 100vh;
    width: 100%;
    border: 0px solid black;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%
    }

}